# 2020-09-19 18:16:30 -0700 - Emily Martens - add JS functionality, add change view front end controls and styles - lines:,2,3,4,5,6,7,8,9,10,11,12,13,14,15

<div id="changeView" class="hidden" align="center">
  <form action="" method="POST" nonvalidate>
    {{ form.csrf_token }}
    <h3>Select View</h3>
    {% for subfield in form.select_view %}
    <tr>
      <td>{{ subfield }}</td>
      <td>{{ subfield.label }}</td>
    </tr>
    {% endfor %}
    <input type="submit" value="Update">
  </form>
</div>
