# 2020-10-08 08:06:10 -0400 - ADM Wayne Bryan - Highlight past due tasks on home page - lines:,38,39
# 2020-10-04 19:49:38 -0700 - Emily Martens - add completed button, routing. delete old home blueprint and jinja template. - lines:,69
# 2020-10-03 10:59:59 -0400 - Jeremy Axmacher - Change view preference to dropdown nav - lines:,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28
# 2020-09-19 13:07:50 -0700 - Emily Martens - add front end setup, blueprint setup for user, job_template - lines:,10,11,12,13,29,68,74,75,76,78,79
# 2020-10-08 07:17:14 -0700 - Maged Bebawy - added task details - lines:,55,70
# 2020-10-10 14:40:44 -0700 - Emily Martens - fix sizing on task due date for better fit. - lines:,41,56,71
# 2020-09-19 19:46:10 -0700 - Emily Martens - add snooze and delete views, update styles - lines:,72,73
# 2020-10-09 08:05:13 -0400 - ADM Wayne Bryan - Fixed a couple of links reference task_details vs details. - lines:,40
# 2020-10-04 23:35:09 -0400 - Jeremy Axmacher - Slice home screen by past, current and future tasks - lines:,30,31,32,33,34,35,36,37,42,43,44,45,46,47,48,49,50,51,52,53,54,57,58,59,60,61,62,63,64,65,66,67,77
{% extends "base.html" %}

{% block content %}

<h2>Tasks By:
  <nav class="view">
    <ul>
        <li><a href="#">{{ view }} <i id="changeViewTrigger" class="far fa-edit" aria-hidden="true"></i></a>
          <ul>
              {% for view_option in views %}
                {% if view_option != view %}
                  <li><a href="?view={{ view_option }}">{{ view_option }}</a></li>
                {% endif %}
              {% endfor %}
          </ul>
        </li>
    </ul>
  </nav>
</h2>

{% if not past_due_tasks and not current_tasks and not future_tasks %}
<h3 align="center">You have no tasks. Why not create a <a href="{{ url_for('task.add_task') }}">task</a> or <a href="{{ url_for('job_template.add_template') }}">template</a>?</h3>
{% endif %}

{% if past_due_tasks %}
<h3>Past Due Tasks</h3>
<section class="five-row">
  {% for task in past_due_tasks %}
  <div align="center" class="five task pastdue">
    <a href="{{ url_for('task.task_complete', id=task.id) }}"><i class="fas fa-check-square complete pastdue"></i></a><br><br>
    <a href="{{ url_for('task.details', id=task.id) }}" class="task-name pastdue"><strong>{{ task.name }}</strong></a>
    <p class="due-date">Due: {{ task.due_date | friendly_date_time }}</p>
    <a href="{{ url_for('task.snooze', id=task.id) }}" class='snooze link-btn'>Snooze</a>
    <br><a class="delete" href="{{ url_for('task.delete_task', id=task.id) }}" class="delete">Delete</a>
  </div>
  {% endfor %}
</section>
{% endif %}

{% if current_tasks %}
<h3>Current Tasks</h3>
<section class="five-row">
  {% for task in current_tasks %}
  <div align="center" class="five task">
    <a href="{{ url_for('task.task_complete', id=task.id) }}"><i class="fas fa-check-square complete"></i></a><br><br>
    <a href="{{ url_for('task.details', id=task.id) }}" class="task-name"><strong>{{ task.name }}</strong></a>
    <p class="due-date">Due: {{ task.due_date | friendly_date_time }}</p>
    <a href="{{ url_for('task.snooze', id=task.id) }}" class='snooze link-btn'>Snooze</a>
    <br><a class="delete" href="{{ url_for('task.delete_task', id=task.id) }}" class="delete">Delete</a>
  </div>
  {% endfor %}
</section>
{% endif %}

{% if future_tasks %}
<h3>Future Tasks</h3>
<section class="five-row">
  {% for task in future_tasks %}
  <div align="center" class="five task">
    <a href="{{ url_for('task.task_complete', id=task.id) }}"><i class="fas fa-check-square complete"></i></a><br><br>
    <a href="{{ url_for('task.details', id=task.id) }}" class="task-name"><strong>{{ task.name }}</strong></a>
    <p class="due-date">Due: {{ task.due_date | friendly_date_time }}</p>
    <a href="{{ url_for('task.snooze', id=task.id) }}" class='snooze link-btn'>Snooze</a>
    <br><a class="delete" href="{{ url_for('task.delete_task', id=task.id) }}" class="delete">Delete</a>
  </div>
  {% endfor %}
</section>
{% endif %}

{% endblock %}
