# 2020-09-27 13:28:53 -0700 - Emily Martens - fix naming discrepancies in user forms/views/templates, add form styling classes to register template, restructure login and register templates to match, re-enable User blueprint. - lines:,8,9,12,13,22,23
# 2020-09-24 21:54:21 -0700 - Emily Martens - add login setup, form, view, template, add logout route - lines:,4,5,6,7,11,14,15,17,18,19,21,24,25
# 2020-09-24 23:12:09 -0700 - Emily Martens - fix styles for login form - lines:,10,16,20
{% extends "base.html" %}

{% block content %}

<div class="form-wrapper">
  <h1>Sign In</h1>
  <form class="task" action="" method="POST" nonvalidate>
    {{ form.csrf_token }}
    <p>{{ form.email_address.label}}: {{ form.email_address }}</p>
    {% for error in form.email_address.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <p>{{ form.password.label }}: {{ form.password }}</p>
    {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <p class="right">{{ form.submit() }}
  </form>
  <p>New user? <a href="{{url_for('user.register')}}">Register here.</a></p>
</div>

{% endblock %}
