# 2020-09-27 13:28:53 -0700 - Emily Martens - fix naming discrepancies in user forms/views/templates, add form styling classes to register template, restructure login and register templates to match, re-enable User blueprint. - lines:,10,11,14,21,22
# 2020-09-24 21:54:21 -0700 - Emily Martens - add login setup, form, view, template, add logout route - lines:,6,7,8,9,13,20,23,24
# 2020-09-24 23:12:09 -0700 - Emily Martens - fix styles for login form - lines:,12,17,19
# 2020-10-02 14:47:44 -0700 - Maged Bebawy - Updated flah messages and added sign link to the signup form - lines:,5,15,16,18
{% from "form_errors.html" import field_error %}
{% extends "base.html" %}

{% block content %}

<div class="form-wrapper">
  <h1>Sign In</h1>
  <form class="task" action="" method="POST" nonvalidate>
    {{ form.csrf_token }}
    <p>{{ form.email_address.label}}: {{ form.email_address }}</p>
    {{ field_error(form.email_address) }}

    <p>{{ form.password.label }}: {{ form.password }}</p>
    {{ field_error(form.password) }}
    <p class="right">{{ form.submit() }}
  </form>
  <p>New user? <a href="{{url_for('user.register')}}">Register here.</a></p>
</div>

{% endblock %}
