{% from "form_errors.html" import field_error %}
{% extends "base.html" %}
{% block content %}
<div class="form-wrapper">
    <h1>Sign Up</h1>
    <form class="task" action="" method="POST">
        {{ form.hidden_tag() }}
    <p>
        {{ form.email_address.label }}:  {{ form.email_address}} {{ form.email_address.error }}
        {{ field_error(form.email_address) }}
    </p>
    <p>
        {{ form.password.label }}:  {{ form.password}}
        {{ field_error(form.password) }}
    </p>
    <p>
        {{ form.confirm_password.label }}:  {{ form.confirm_password}}
    </p>
    <p>
        {{ form.timezone.label }}:  {{ form.timezone}}
    </p>
    <p class="right">
        {{ form.submit }}
    </p>
</form>
</div>

{% endblock %}
