{% from "form_errors.html" import field_error %}
{% extends "base.html" %}
{% block content %}
<div>
    <h1>Sign Up</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
    <div>
        {{ form.email.label }}  {{ form.email}} {{ form.email.error }}
        {{ field_error(form.email) }}
    </div>
    <div>
        {{ form.password.label }}  {{ form.password}} 
        {{ field_error(form.password) }}
    </div>
    <div>
        {{ form.confirm_password.label }}  {{ form.confirm_password}}
    </div>
    <div>
        {{ form.timezone.label }}  {{ form.timezone}}
    </div>
    <div>
        {{ form.submit }}
    </div>
</form>
</div>
    
{% endblock %}