<! DOCTYPE html>
<!-- This is the base template which includes head, navigation, and footer, should be extended by all routed pages -->
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{title}} - TaskerApp</title>
    {% else %}
    <title>Welcome to Tasker!</title>
    {% endif %}
    <link href="../static/css/main.css" rel="stylesheet">
    <link rel="icon" href="../static/img/icon.png">
    <script src="https://kit.fontawesome.com/51024ecd26.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Racing+Sans+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="three-row">
      <nav class="three left main-nav">
        {% if not current_user.is_anonymous %}
        <a href="{{ url_for('job_template.add_template') }}"><div class="link-btn">+Template</div></a>
        <a href="{{ url_for('task.add_task') }}"><div class="link-btn">+Task</div></a>
        {% endif %}
      </nav>
      {% if not current_user.is_anonymous %}
      <div id="mobileNavTrigger" class="mobile-nav">
        <i class="fas fa-ellipsis-v"></i>
      </div>
      <article id="mobileNavContent" class="hidden" align="center">
          <a href="{{ url_for('job_template.add_template') }}"><div class="link-btn">+Template</div></a><br>
          <a href="{{ url_for('task.add_task') }}"><div class="link-btn">+Task</div></a><br>
          <a href="{{ url_for('user.home') }}">Home</a><br>
          <a href="{{ url_for('job_template.templates') }}">Templates</a><br>
          <a href="{{ url_for('task.archive') }}">Archive</a><br>
          <a href="{{ url_for('user.logout') }}">Logout</a>
      </article>
      {% endif %}
      <div align="center" class="three">
        <a href="{{ url_for('user.home') }}"><img class="logo" src="../static/img/icon.png" alt="Tasker Icon"/></a>
        <a href="{{ url_for('user.home')}}"><h1>Tasker<span class="red-txt">App</span></h1></a>
      </div>
      <nav class="three right main-nav">
        {% if not current_user.is_anonymous %}
        Hello, {{ current_user.email_address }}<br/><br/><br/><br/>
        <a href="{{ url_for('user.home') }}">Home</a>
        <a href="{{ url_for('job_template.templates') }}">Templates</a>
        <a href="{{ url_for('task.archive') }}">Archive</a>
        <a href="{{ url_for('user.logout') }}">Logout</a>        
        {% endif %}
      </nav>
    </header>
  {% with errors = get_flashed_messages(category_filter=["error"]) %}
  {% if errors %}
  <div class="flashed-msg">
    <ul class="error-msg">
      {% for message in errors %}
      <li><em>{{ message }}</em></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}

  {% with success = get_flashed_messages(category_filter=["success"]) %}
  {% if success %}
  <div class="flashed-msg">
    <ul class="success-msg">
      {% for message in success %}
      <li><em>{{ message }}</em></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}
    <main>
      <!-- content from inheriting templates goes in block content area -->
    {% block content %}
    {% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-3.5.1.min.js"><\/script>')</script>
    <script src="../static/js/main.js"></script>
    {{ moment.include_moment() }}
  </body>
</html>
