# 2020-09-19 14:02:51 -0700 - Emily Martens - add more views to job_template bp, add task detail html page. - lines:,6
# 2020-09-19 13:07:50 -0700 - Emily Martens - add front end setup, blueprint setup for user, job_template - lines:,4,5,7,8,9,11,12,13,14
# 2020-09-19 19:46:10 -0700 - Emily Martens - add snooze and delete views, update styles - lines:,10
{% extends "base.html" %}
{% block content %}
<section id="jobTemplatesList" class="include">
  <h2>Job Templates</h2>
  {% for template in templates %}
  <div class="list-template">
    <a href="{{ url_for('job_template.template_detail', id=template.id) }}"><strong>{{ template.title }}</strong></a><a href="{{ url_for('job_template.edit_template', id=template.title) }}"> <i style="font-size: 1em;" class="far fa-edit"></i></a>
  </div>
  {% endfor %}
</section>
{% endblock %}
