html {
  background: #000;
}

body {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding: 2em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Racing Sans One', cursive;
}

h1, h2 {
  color: #00aaad;
}

.red-txt {
  color: #7a1611;
}

h3, h4, h5 {
  color: #7a1611;
}

a, i {
  color: #00aaad;
  text-decoration: none;
}

a:hover, i:hover {
  color: #7a1611;
}

nav a, .list-template i, .delete {
  color: #7a1611;
  font-weight: bold;
  padding: .5em;
}

nav a:hover, .list-template i:hover, .delete:hover {
  color: #00aaad;
  cursor: pointer;
}

button, input[type="submit" i], .link-btn {
  background: #00aaad;
  border-left: 2px solid #05f6fa;
  border-top: 2px solid #05f6fa;
  border-bottom: 2px solid #00595a;
  border-right: 2px solid #00595a;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Racing Sans One', cursive;
  padding: 1%;
  width: 100px;
}

button:hover, .link-btn:hover {
  color: #7a1611;
}

.link-btn  {
  display: inline-block;
  font-size: 1em;
  text-align: center;
}

.logo {
  width: 50%;
}

.title {
  text-align: center;
}

.col-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav button, .mobile-nav .link-btn {
  margin: 1em;
  width: 80%;
}

i {
    color: #00aaad;
    font-size: 2em;
}

.main-nav {
  display: none;
}

/* HOME */

.hidden {
  display: none;
}

.task {
  border: 1px solid #fff;
  border-radius: 5px;
  margin: .25em;
  padding: 1em;
}

.task-name {
  font-family: 'Racing Sans One', cursive;
  font-size: 1.5em;
}

.snooze {
  margin: 1em;
}

#changeView {
  background: #fff;
  margin-bottom: 1em;
  padding: 1em;
}

#changeView label {
  color: #000;
}

#changeView input[type="submit" i]{
  margin-top: .5em;
}

/* Includes Sections Styles */

.include {
  text-align: center;
}

/* Job Templates List */


/* break points for ipad, laptop/desktop, and large screens */
@media all and (min-width: 750px){
  .logo {
    width: 100px;
  }

  .main-nav {
    display: block;
  }

  .mobile-nav {
    display: none;
  }

  .three-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
  }

  .five-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .three {
    width: 33%;
  }

  .five {
    padding: .5em;
    width: 20%;
  }

  .title {
    text-align: left;
  }

  #changeView {
    width: 30%;
  }
}

@media all and (min-width: 1200px){

}

@media all and (min-width: 1500px){
  body {
      padding-left: 10em;
      padding-right: 10em;
  }
}
