# 2020-10-05 08:28:49 -0400 - ADM Wayne Bryan - Added form to create a single task, /add_task - lines:,5,8,9,10,11,12,15,16,17,18,19,20,21
# 2020-09-19 19:02:54 -0700 - Emily Martens - add views and navigation for add template, add task, and archive. - lines:,6,7,22
# 2020-10-05 20:17:43 -0400 - ADM Wayne Bryan - Added hour for user to create a single task - lines:,14
# 2020-10-05 12:00:29 -0400 - ADM Wayne Bryan - Removed job template selection for creating single task - lines:,13
{% from "form_errors.html" import field_error %}
{% extends "base.html" %}
{% block content %}
<div class="form-wrapper">
  <h1>Create Task</h1>
  <form class="task" action="" method="POST">
      {{ form.hidden_tag() }}
  <p>{{ form.name.label }}:  {{ form.name}} {{ field_error(form.name) }}</p>
  <p>{{ field_error(form.name) }}</p>
  <p>{{ form.due_date.label }}: {{ form.due_date(class_='auto-width') }} @ {{ form.hour }}</p>
  <p>{{ field_error(form.due_date) }}</p>
  <p>{{ form.description.label }}:  {{ form.description }} {{ field_error(form.description) }}</p>
  <p class="right">
      {{ form.submit }}
  </p>
</form>
</div>
{% endblock %}
