{% from "form_errors.html" import field_error %}
{% extends "base.html" %}
{% block content %}
<div class="form-wrapper">
  <h1>Create Task</h1>
  <form class="task" action="" method="POST">
      {{ form.hidden_tag() }}
  <p>{{ form.name.label }}:  {{ form.name}} {{ field_error(form.name) }}</p>
  <p>{{ field_error(form.name) }}</p>
  <p>{{ form.due_date.label }}: {{ form.due_date(class_='auto-width') }}</p>
  <p>{{ field_error(form.due_date) }}</p>
  <p>{{ form.description.label }}:  {{ form.description }} {{ field_error(form.description) }}</p>
  <p class="right">
      {{ form.submit }}
  </p>
</form>
</div>
{% endblock %}
