{% extends "base.html" %}

{% block content %}
<section class="include">
  <h2>Archived Tasks</h2>
</section>

<section id="home-main" class="five-row">
  {% for task in tasks %}
  <div align="center" class="five task">
    <a href="{{ url_for('task.details', id=task.id) }}" class="task-name"><strong>{{ task.name }}</strong></a>
    <p><strong class="red-txt">Due:</strong> {{ task.due_date | friendly_date_time }}</p>
    <p><strong class="red-txt"><span class="red-txt">Description: </strong> {{ task.description }}</p>
  </div>
  {% endfor %}
</section>
{% endblock %}
