# 2020-09-19 14:02:51 -0700 - Emily Martens - add more views to job_template bp, add task detail html page. - lines:,5,6,7,8,9,20,21
# 2020-09-19 19:02:54 -0700 - Emily Martens - add views and navigation for add template, add task, and archive. - lines:,19
# 2020-10-04 22:01:48 -0400 - Jeremy Axmacher - Add archive view and clean up job templates list formatting - lines:,10,11,12,13,14,16,17,18
# 2020-10-09 08:05:13 -0400 - ADM Wayne Bryan - Fixed a couple of links reference task_details vs details. - lines:,15
{% extends "base.html" %}

{% block content %}
<section class="include">
  <h2>Archived Tasks</h2>
</section>

<section id="home-main" class="five-row">
  {% for task in tasks %}
  <div align="center" class="five task">
    <a href="{{ url_for('task.details', id=task.id) }}" class="task-name"><strong>{{ task.name }}</strong></a>
    <p><strong class="red-txt">Due:</strong> {{ task.due_date | friendly_date_time }}</p>
    <p><strong class="red-txt"><span class="red-txt">Description: </strong> {{ task.description }}</p>
  </div>
  {% endfor %}
</section>
{% endblock %}
