# 2020-10-10 09:54:35 -0400 - Jeremy Axmacher - Fix edit form so that task due hour is populated in form and saved to task. - lines:,8
# 2020-10-08 07:17:14 -0700 - Maged Bebawy - added task details - lines:,3,4,5,6,7,9,10,11,12,13,14,15,16,17,18,19,20
{% from "form_errors.html" import field_error %}
{% extends "base.html" %}
{% block content %}
<div class="form-wrapper">
  <h1>Edit Task</h1>
  <form class="task" name="edit-task" action="" method="POST">
      {{ form.hidden_tag() }}
  <p>{{ form.name.label }}:  {{ form.name}} {{ field_error(form.name) }}</p>
  <p>{{ field_error(form.name) }}</p>
  <p>{{ form.due_date.label }}: {{ form.due_date(class_='auto-width') }} @ {{ form.hour }}</p>
  <p>{{ field_error(form.due_date) }}</p>
  <p>{{ form.description.label }}:  {{ form.description }} {{ field_error(form.description) }}</p>
  <p class="right">
      {{ form.submit }}
  </p>
</form>
</div>
{% endblock %}
