# 2020-10-04 14:14:23 -0700 - Emily Martens - cleaning up messy code. - lines:,11,12,13,14,15,16,17,18,19,20,21
# 2020-09-19 19:46:10 -0700 - Emily Martens - add snooze and delete views, update styles - lines:,5,6,7,8,9,24,25,26
# 2020-10-04 12:16:06 -0700 - Emily Martens - add Snooze form and template fields - lines:,4,10,22,23
{% from "form_errors.html" import field_error %}
{% extends "base.html" %}

{% block content %}

<section class="include">
  <div class="form-wrapper">
    <h1>Snooze {{ task.name }}</h1>
    <p>Original Due Date: {{ task.due_date | friendly_date }} at {{ task.job_template.hour | hourify}}</p>
    <form class="task" action="" method="POST">
      {{ form.hidden_tag() }}
      <h2>New Due Date</h2>
      <p>{{ form.due_date(class_='auto-width') }}</p>
      <p>{{ field_error(form.due_date) }}</p>
      <p>{{ form.note.label }} {{ form.note }}</p>
      <p>{{field_error(form.note) }}</p>
      <p class="right">{{ form.submit }}</p>
    </form>
  </div>

</section>

{% endblock %}
