# 2020-09-19 14:02:51 -0700 - Emily Martens - add more views to job_template bp, add task detail html page. - lines:,4,5,6,7,9,10,13,14
# 2020-09-19 16:30:14 -0700 - Emily Martens - add task blueprint with routes to task detail - lines:,8
# 2020-09-19 19:49:53 -0700 - Emily Martens - add missing links from task detail snooze and delete - lines:,11,12
{% extends "base.html" %}

{% block content %}
<section class="include">
<h2>{{ task.template.title }}</h2>
<p><strong class="red-txt">Due:</strong> {{ task.due_date }}</p>
<p><strong class="red-txt"><span class="red-txt">Description: </strong> {{ task.template.description }}</p>
<a href="{{ url_for('task.snooze', id=task.id) }}" class='snooze link-btn'>Snooze</a>
<br><a class="delete" href="{{ url_for('task.delete_task', id=task.id) }}" class="delete">Delete</a>
</section>
{% endblock %}
