{% extends "base.html" %}

{% block content %}
<section class="include">
<a href="{{ url_for('task.details', id=task.id) }}" class="task-name"><strong>{{ task.template.name }}</strong></a>
<p><strong class="red-txt">Due:</strong> {{ task.due_date | friendly_date_time }}</p>
<p><strong class="red-txt"><span class="red-txt">Description: </strong> {{ task.template.description }}</p>
<a href="{{ url_for('task.snooze', id=task.id) }}" class='snooze link-btn'>Snooze</a>
<br><a class="delete" href="{{ url_for('task.delete_task', id=task.id) }}" class="delete">Delete</a>
</section>
{% endblock %}
