# 2020-09-30 23:10:55 -0400 - Jeremy Axmacher - Schedule email notifier for hourly execution - lines:,2,3,4,5,6
[Unit]
Description=Run email.service every 1 hour

[Timer]
OnCalendar=*-*-* *:00:00
