# 2020-09-23 21:27:33 -0400 - Jeremy Axmacher - Reorganize file tree - lines:,2,3,4,5,6,7,8,9,10,11,12,13,14
[Unit]
Description=uWSGI Container Server for Tasker
After=network.target

[Service]
User=ec2-user
Group=nginx
WorkingDirectory=/var/www
Environment="PATH=/var/www/venv/bin"
ExecStart=/var/www/venv/bin/uwsgi --ini config/tasker.ini

[Install]
WantedBy=multi-user.target
