{% from "form_errors.html" import field_error %}
{% extends "base.html" %}
{% block content %}
<div class="form-wrapper">
    <h1>Create Template</h1>
    <form class="task" action="" method="POST">
        {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}:  {{ form.name}} {{ field_error(form.name) }}
    </p>
    <p>
        <ul>
          <li>At {{ form.hour }} {{ field_error(form.hour) }}</li>
          <li>Repeated every {{ form.repetition }} {{ form.interval }} {{ field_error(form.repetition) }} {{ field_error(form.interval) }}</li>
          <li>Starting on {{ form.starting_date }} {{ field_error(form.starting_date) }}</li>
        </ul>
    </p>
    <p>
        {{ form.description.label }}:  {{ form.description }} {{ field_error(form.description) }}
    </p>
    <p class="right">
        {{ form.submit }}
    </p>
</form>
</div>
{% endblock %}
