{% from "form_errors.html" import field_error %}
{% extends "base.html" %}
{% block content %}
<div class="form-wrapper">
    <h1>Create Template</h1>
    <form class="task" action="" method="POST">
        {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}:  {{ form.name}} {{ field_error(form.name) }}
    </p>
    <p>At {{ form.hour }} every {{ form.repetition(size=3, class_='auto-width', min=1) }} {{ form.interval(class_='auto-width') }} beginning {{ form.starting_date(class_='auto-width') }}</p>
    <p>{{ field_error(form.hour) }} {{ field_error(form.repetition) }} {{ field_error(form.interval) }} {{ field_error(form.starting_date) }}</p>
    <p>
        {{ form.description.label }}:  {{ form.description }} {{ field_error(form.description) }}
    </p>
    <p class="right">
        {{ form.submit }}
    </p>
</form>
</div>
{% endblock %}
