# 2020-10-04 23:26:44 -0400 - Jeremy Axmacher - Add job template deletion - lines:,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
{% from "form_errors.html" import field_error %}
{% extends "base.html" %}
{% block content %}
<div class="form-wrapper">
    <h1>Delete Template</h1>
    <form class="task" action="" method="POST">
        {{ form.hidden_tag() }}
        <p><strong>Name: </strong>{{ name }}</p>
        <p><strong>Deleting this template will delete all associated tasks. Are you sure you want to continue?</strong></p>
    <p class="right">
        {{ form.submit }} <a class="link-btn" href="{{ url_for('job_template.templates') }}">Cancel</a> 
    </p>
</form>
</div>
{% endblock %}
