# 2020-10-04 23:26:44 -0400 - Jeremy Axmacher - Add job template editing - lines:,3,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
# 2020-09-19 19:46:10 -0700 - Emily Martens - add snooze and delete views, update styles - lines:,4,5,23
{% from "form_errors.html" import field_error %}
{% extends "base.html" %}
{% block content %}
<div class="form-wrapper">
    <h1>Edit Template</h1>
    <form class="task" action="" method="POST">
        {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}:  {{ form.name}} {{ field_error(form.name) }}
    </p>
    <p>At {{ form.hour }} every {{ form.repetition(size=3, class_='auto-width', min=1) }} {{ form.interval(class_='auto-width') }} beginning {{ form.starting_date(class_='auto-width') }}</p>
    <p>{{ field_error(form.hour) }} {{ field_error(form.repetition) }} {{ field_error(form.interval) }} {{ field_error(form.starting_date) }}</p>
    <p>
        {{ form.description.label }}:  {{ form.description }} {{ field_error(form.description) }}
    </p>
    <p class="right">
        {{ form.submit }}
    </p>
</form>
</div>
{% endblock %}
