{% extends "base.html" %}

{% block content %}
<section class="include">
<h2>Template: {{ job.name }}</h2>
</section>
<section id="home-main" class="five-row">
  <div align="center" class="five task">
    <p>At <strong>{{ job.hour | hourify }}</strong> every <strong>{{ job.repetition }} {{ job.interval | intervalify }}</strong> beginning <strong>{{ job.starting_date | friendly_date }}</strong>.</p>
    <p><strong>Description:</strong> {{ job.description }}</p>
    <a href="{{ url_for('job_template.edit_template', id=job.id) }}"> <i style="font-size: 2em;" class="far fa-edit"></i></a>
    <a href="{{ url_for('job_template.delete_template', id=job.id) }}" class="delete"><i style="font-size: 2em;" class="far fa-trash-alt"></i></a>
</div>
</section>
{% endblock %}
