# 2020-09-19 14:02:51 -0700 - Emily Martens - add more views to job_template bp, add task detail html page. - lines:,3,4,5,6,7,8,9,10,13,14
# 2020-09-19 19:46:10 -0700 - Emily Martens - add snooze and delete views, update styles - lines:,11,12
{% extends "base.html" %}

{% block content %}
<section class="include">
<h2>{{ template.title }}</h2>
<p><strong class="red-txt">Due Every:</strong> {{ template.interval }} {{ template.interval_type}}</p>
<p><strong class="red-txt">Start Date:</strong> {{ template.start_date }}</p>
<p><strong class="red-txt"><span class="red-txt">Description: </strong> {{ template.description }}</p>
<a href="{{ url_for('job_template.edit_template', id=template.title) }}"> <i style="font-size: 2em;" class="far fa-edit"></i></a>
<a href="{{ url_for('job_template.delete_template', id=template.id) }}" class="delete">Delete</a>
</section>
{% endblock %}
