# 2020-09-19 14:02:51 -0700 - Emily Martens - add more views to job_template bp, add task detail html page. - lines:,10
# 2020-09-19 13:07:50 -0700 - Emily Martens - add front end setup, blueprint setup for user, job_template - lines:,8,9,11,18,19,20,26
# 2020-10-08 09:51:21 -0400 - ADM Wayne Bryan - Fixed issue where text was prompting to create a job template even though job templates existed. - lines:,22
# 2020-09-28 13:34:04 -0400 - ADM Wayne Bryan - save - lines:,14
# 2020-10-04 22:01:48 -0400 - Jeremy Axmacher - Add archive view and clean up job templates list formatting - lines:,12,13,15,17
# 2020-10-04 23:26:44 -0400 - Jeremy Axmacher - Add job template editing - lines:,16
# 2020-10-05 10:34:28 -0400 - ADM Wayne Bryan - -Added user email when logged in to base template
-Added helper text to the user at /templates: "You have no templates. Why not create a template?" - lines:,21,23,24,25
{% extends "base.html" %}
{% block content %}
<section id="jobTemplatesList" class="include">
  <h2>Job Templates</h2>
</section>
<section id="home-main" class="five-row">
  {% for job in jobs %}
  <div align="center" class="five task">
    <a href="{{ url_for('job_template.template_detail', id=job.id) }}" class="task-name"><strong>{{ job.name }}</strong></a> <a href="{{ url_for('job_template.edit_template', id=job.id) }}"> <i style="font-size: 2em;" class="far fa-edit" aria-hidden="true"></i> </a> <a href="{{ url_for('job_template.delete_template', id=job.id) }}"> <i style="font-size: 2em;" class="far fa-trash-alt" aria-hidden="true"></i></a>
    <p><strong class="red-txt">Due:</strong> At <strong>{{ job.hour | hourify }}</strong> every <strong>{{ job.repetition }} {{ job.interval | intervalify }}</strong> beginning <strong>{{ job.starting_date | friendly_date }}</strong>.</p>
  </div>
  {% endfor %}
</section>

{% if jobs.count() == 0 %}
<h3 align="center">You have no templates. Why not create a <a href="{{ url_for('job_template.add_template') }}">template</a>?</h3>
{% endif %}

{% endblock %}
