<h1>{{ message }}</h1>

<p><a href="{{ url_for('home.index') }}">Go home</a></p>

<form method="POST" action="/">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name(size=20) }}
    <input type="submit" value="Go">
</form>

<ul>
{% for user in users %}
  <li>{{user.name}}</li>
{% endfor %}
</ul>