# 2020-09-10 17:51:11 -0400 - Jeremy Axmacher - Initial commit - lines:,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
<h1>{{ message }}</h1>

<p><a href="{{ url_for('home.index') }}">Go home</a></p>

<form method="POST" action="/">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name(size=20) }}
    <input type="submit" value="Go">
</form>

<ul>
{% for user in users %}
  <li>{{user.name}}</li>
{% endfor %}
</ul>
