{% extends "base.html" %}

{% block content %}

<h2>Tasks By: <span class="red-txt">{{ user.view }}</span> <i id="changeViewTrigger" style="font-size: 1em;" class="far fa-edit"></i></h2>
<div id="hidden-container">
  {% include "user/_change-view.html" %}
</div>

<section id="home-main" class="five-row">
  {% for task in tasks %}
  <div align="center" class="five task">
    <a href="{{ url_for('task.task_detail', id=task.id) }}" class="task-name"><strong>{{ task.template.title }}</strong></a>
    <p>Due: {{ task.due_date }}</p>
    <button class='snooze'>Snooze</button>
    <br><a class="delete" href="" class="delete">Delete</a>
  </div>
  {% endfor %}
</section>

{% endblock %}
