html {
  background: #222;
}

body {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding: 2em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Racing Sans One', cursive;
}

h1, h2 {
  color: #00aaad;
}

.red-txt {
  color: #ca241c;
}

h3, h4, h5 {
  color: #ca241c;
}

a, i {
  color: #00aaad;
  text-decoration: none;
}

a:hover, i:hover {
  color: #ca241c;
}

nav a, .list-template i, .delete {
  color: #ca241c;
  font-weight: bold;
  padding: .5em;
}

nav a:hover, .list-template i:hover, .delete:hover {
  color: #00aaad;
  cursor: pointer;
}

button, input[type="submit" i], .link-btn {
  background: #00aaad;
  border-left: 2px solid #05f6fa;
  border-top: 2px solid #05f6fa;
  border-bottom: 2px solid #00595a;
  border-right: 2px solid #00595a;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Racing Sans One', cursive;
  padding: 1%;
  width: 100px;
}

button:hover, .link-btn:hover, .complete:hover {
  color: #ca241c;
}

.link-btn  {
  display: inline-block;
  font-size: 1em;
  text-align: center;
}

.logo {
  width: 50%;
}

.title {
  text-align: center;
}

.col-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav button, .mobile-nav .link-btn {
  margin: 1em;
  width: 80%;
}

#mobileNavContent {
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
}

#mobileNavContent .link-btn{
  margin-bottom: .5em;
}

i {
    color: #00aaad;
    font-size: 2em;
}

.main-nav {
  display: none;
}

.error-msg {
  /* color: red; */
  color: #ca241c;
  list-style: none;
}

.success-msg {
  /* color: green; */
  color: #98db6e;
  list-style: none;
}

/* HOME */

.hidden {
  display: none;
}

.task {
  border: 1px solid #fff;
  border-radius: 5px;
  margin: .25em;
  padding: 1em;
}

.task-name {
  font-family: 'Racing Sans One', cursive;
  font-size: 1.5em;
}

a.pastdue:hover {
  color: black;
}

i.pastdue {
  background-color:black
}

.complete {
  float: left;
}

.snooze {
  margin: 1em;
}

.pastdue {
  background-color: #ca241c;
}

#changeView {
  background: #fff;
  margin-bottom: 1em;
  padding: 1em;
}

#changeView label {
  color: #000;
}

#changeView input[type="submit" i]{
  margin-top: .5em;
}

/* Includes Sections Styles */

.include {
  text-align: center;
}

/* Job Templates List */


/* Form Styles */

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-top: .5em;
  width: 100%;
}

/* break points for ipad, laptop/desktop, and large screens */
@media all and (min-width: 750px){
  .logo {
    width: 100px;
    min-height: 107px;
  }

  .main-nav {
    display: block;
  }

  .mobile-nav {
    display: none;
  }

  .three-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
  }

  .five-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .three {
    width: 33%;
  }

  .five {
    padding: .5em;
    width: 20%;
  }

  .title {
    text-align: left;
  }

  #changeView {
    width: 20%;
  }
}

@media all and (min-width: 1200px){

}

@media all and (min-width: 1500px){
  body {
      padding-left: 10em;
      padding-right: 10em;
  }
}
input.auto-width {
  width: auto;
}
textarea {
  width: 100%;
}


nav.view {
  display: inline-block;
  width: 120px;
}

nav.view > ul {
  padding-left: 5px;
}
nav.view  ul  li {
  width: 130px;
}

nav.view li {
   display: inline-block;
   list-style-type: none;
   position: relative;
}

nav.view li ul {
   display: none;
   position: absolute;
   width: 100px;
   left: 0;
   top: 100%;
   margin: 0;
   padding: 0;
}

nav.view li:hover > ul {
   display: block;
}
nav.view a:hover {
   color: #222;
}

nav.view a {
   padding: 5px 10px 18px 10px;
   color: #ca241c;
   text-align: left;
   background: #eee;
   height: 20px;
   display: block;
   border-radius: 5px;
}

nav.view a i {
  float: right;
  padding-left: 4px;
  font-size: 1em;
}
