# 2020-09-19 14:02:51 -0700 - Emily Martens - add more views to job_template bp, add task detail html page. - lines:,43,48,56,62
# 2020-10-08 08:06:10 -0400 - ADM Wayne Bryan - Highlight past due tasks on home page - lines:,166,167,170,171,180,181,182,183
# 2020-09-29 16:36:00 -0400 - Jeremy Axmacher - Tweak background color - lines:,18
# 2020-09-19 18:16:30 -0700 - Emily Martens - add JS functionality, add change view front end controls and styles - lines:,144,145,146,147,184,185,186,187,188,189,190,191,192,193,194,195,196,197,270,271,273
# 2020-10-04 19:49:38 -0700 - Emily Martens - add completed button, routing. delete old home blueprint and jinja template. - lines:,81,172,173,174,175,343
# 2020-10-03 10:59:59 -0400 - Jeremy Axmacher - Change view preference to dropdown nav - lines:,272,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342
# 2020-09-19 13:07:50 -0700 - Emily Martens - add front end setup, blueprint setup for user, job_template - lines:,17,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,37,38,39,41,42,44,45,46,47,50,51,58,59,60,61,63,64,65,66,68,69,70,71,72,73,74,75,76,77,78,79,80,83,84,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,108,109,121,122,123,124,125,126,127,128,129,142,143,148,149,150,151,152,153,154,155,156,157,158,159,176,177,178,179,198,199,200,201,202,203,204,205,206,220,221,222,223,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,274,275,276,277,278,279,280,281,282,283,284,285
# 2020-09-19 19:02:54 -0700 - Emily Martens - add views and navigation for add template, add task, and archive. - lines:,67,85,86,87,88,89,90,105
# 2020-10-10 13:41:51 -0700 - Emily Martens - fix styles for overdue tasks. - lines:,160,161,162,163,164,165,168,169
# 2020-09-19 20:04:43 -0700 - Emily Martens - add mobile navigation and home link - lines:,110,111,112,113,114,115,116,117,118,119,120
# 2020-10-04 21:56:26 -0400 - Jeremy Axmacher - Minimize repaint flash from image height calculation - lines:,224
# 2020-09-25 07:30:26 -0700 - Maged Bebawy - added user registeration - lines:,136,137,138,139,140,141
# 2020-10-10 14:40:44 -0700 - Emily Martens - fix sizing on task due date for better fit. - lines:,52,53,54,55
# 2020-09-24 23:12:09 -0700 - Emily Martens - fix styles for login form - lines:,207,208,209,210,211,212,213,214,215,216,217,218,219
# 2020-09-19 19:46:10 -0700 - Emily Martens - add snooze and delete views, update styles - lines:,36,40,49,57,82,130,131,132,133,134,135
# 2020-09-29 16:36:00 -0400 - Jeremy Axmacher - Clean up job template form and job template detail field formatting - lines:,286,287,288,289,290
html {
  background: #222;
}

body {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding: 2em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Racing Sans One', cursive;
}

h1, h2 {
  color: #00aaad;
}

.red-txt {
  color: #ca241c;
}

h3, h4, h5 {
  color: #ca241c;
}

a, i {
  color: #00aaad;
  text-decoration: none;
}

a:hover, i:hover {
  color: #ca241c;
}

.due-date {
  font-size: .80em;
}

nav a, .list-template i, .delete {
  color: #ca241c;
  font-weight: bold;
  padding: .5em;
}

nav a:hover, .list-template i:hover, .delete:hover {
  color: #00aaad;
  cursor: pointer;
}

button, input[type="submit" i], .link-btn {
  background: #00aaad;
  border-left: 2px solid #05f6fa;
  border-top: 2px solid #05f6fa;
  border-bottom: 2px solid #00595a;
  border-right: 2px solid #00595a;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Racing Sans One', cursive;
  padding: 1%;
  width: 100px;
}

button:hover, .link-btn:hover, .complete:hover {
  color: #ca241c;
}

.link-btn  {
  display: inline-block;
  font-size: 1em;
  text-align: center;
}

.logo {
  width: 50%;
}

.title {
  text-align: center;
}

.col-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav button, .mobile-nav .link-btn {
  margin: 1em;
  width: 80%;
}

#mobileNavContent {
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
}

#mobileNavContent .link-btn{
  margin-bottom: .5em;
}

i {
    color: #00aaad;
    font-size: 2em;
}

.main-nav {
  display: none;
}

.error-msg {
  /* color: red; */
  color: #ca241c;
  list-style: none;
}

.success-msg {
  /* color: green; */
  color: #98db6e;
  list-style: none;
}

/* HOME */

.hidden {
  display: none;
}

.task {
  border: 1px solid #fff;
  border-radius: 5px;
  margin: .25em;
  padding: 1em;
}

.task-name {
  font-family: 'Racing Sans One', cursive;
  font-size: 1.5em;
}

.pastdue a.delete {
  color: #000;
}

.pastdue a.delete:hover {
  color: #00AAAD;
}

a.pastdue:hover, i.pastdue:hover {
  color: black;
}

.complete {
  float: left;
}

.snooze {
  margin: 1em;
}

.pastdue {
  background-color: #ca241c;
}

#changeView {
  background: #fff;
  margin-bottom: 1em;
  padding: 1em;
}

#changeView label {
  color: #000;
}

#changeView input[type="submit" i]{
  margin-top: .5em;
}

/* Includes Sections Styles */

.include {
  text-align: center;
}

/* Job Templates List */


/* Form Styles */

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-top: .5em;
  width: 100%;
}

/* break points for ipad, laptop/desktop, and large screens */
@media all and (min-width: 750px){
  .logo {
    width: 100px;
    min-height: 107px;
  }

  .main-nav {
    display: block;
  }

  .mobile-nav {
    display: none;
  }

  .three-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
  }

  .five-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .three {
    width: 33%;
  }

  .five {
    padding: .5em;
    width: 20%;
  }

  .title {
    text-align: left;
  }

  #changeView {
    width: 20%;
  }
}

@media all and (min-width: 1200px){

}

@media all and (min-width: 1500px){
  body {
      padding-left: 10em;
      padding-right: 10em;
  }
}
input.auto-width {
  width: auto;
}
textarea {
  width: 100%;
}


nav.view {
  display: inline-block;
  width: 120px;
}

nav.view > ul {
  padding-left: 5px;
}
nav.view  ul  li {
  width: 130px;
}

nav.view li {
   display: inline-block;
   list-style-type: none;
   position: relative;
}

nav.view li ul {
   display: none;
   position: absolute;
   width: 100px;
   left: 0;
   top: 100%;
   margin: 0;
   padding: 0;
}

nav.view li:hover > ul {
   display: block;
}
nav.view a:hover {
   color: #222;
}

nav.view a {
   padding: 5px 10px 18px 10px;
   color: #ca241c;
   text-align: left;
   background: #eee;
   height: 20px;
   display: block;
   border-radius: 5px;
}

nav.view a i {
  float: right;
  padding-left: 4px;
  font-size: 1em;
}
